<h1>Subscribed blogs</h1>
<table>
<tr>
  <th>Blog</th>
  <th>Twitterers</th>
</tr>
<%  dom_n = 0
    for blog in @blogs do %>
<tr>
<td><%= link_to(blog.title, blog.homepage) %></td>
<td>
<% for twit in blog.twitterers do %>
@<%= link_to(twit.tname, "http://twitter.com/#{twit.tname}") %>, <% if twit.following?(@friends) then %>
<%= render :partial => 'users/following', :locals => {:twit => twit, :dom_id => "box#{dom_n}"} %>
<% else %>
<%= render :partial => 'users/nfollowing', :locals => {:twit => twit, :dom_id => "box#{dom_n}"} %>
<% end %>
<% dom_n = dom_n + 1 %>
<br/>
<% end %>
</td>
</tr>
<% end %>
</table>
