<h1>OPML uploaded</h1>
<%= @blogs.length %> blogs uploaded.
<p/>
Click <%= link_to('here', :action => :show) -%> to see twitterers (warning: slow).
<p/>
Click <%= link_to('here', :action => :delayed_show) -%> and we'll do the computation in batch mode and send you a Twitter direct mesage when done.  I'll have to add twit__lines to your friends list to do this -- don't worry, you won't see a lot of junk tweets from this.

