body {
  font-family: 'Gill Sans', sans-serif;
  font-size: 1em;
  line-height:  1.05em;  
}

a {
    text-decoration:none;
}

table td {
    padding: 2px;
    border: 1px solid lightgray;
}

.following {
  background: #DDFFDD;  
  display:inline;
}

.nfollowing {
  background: #FFDDDD;  
  display:inline;
}
