<head><title>Twitlines</title>
  <% if ENV['DEBUG'] %>
   <script>
     var Timeline_ajax_url = 'http://api.simile-widgets.org/ajax/2.2.1/simile-ajax-api.js?bundle=false'
   </script>
   <script SRC="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=false" TYPE="text/javascript"></script>
   <% else %>
   <script SRC="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" TYPE="text/javascript"></script>     <% end %>
  <%= javascript_include_tag 'twitlines' %>
  <style TYPE="text/css">
    body { background: #111; color: #aaa; font-family: arial, helvetica, sans-serif;}
    .timeline-event-label,.timeline-event-tape {
    font-size: 10px; 
    color: #000; 
    background: #fff; 
    padding-left: 2px; 
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left:11px; 
    margin-top: 7px; 
    border: 1px solid gray;    
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    }	 
    .timeline-event-label a { color:#00f; text-decoration:none;}
    .timeline-event-label a:hover { background:#ff0;}
</style>
</head>

<body ONLOAD="onLoad();" ONRESIZE="onResize();">
  <div style="padding-bottom: 5px;">
    <% if !@user %>
    <a href="/connect"><%= image_tag("sign_in_with_twitter.gif", :border => 0) %></a>
    <% end %>
    <div style="padding: 5px;display:inline;">
      <input NAME="search" ID="sterm" onkeydown="if (event.keyCode == 13) { newSearch(document.getElementById('sterm').value) };">
      <input TYPE="SUBMIT" VALUE="Search" ONCLICK="newSearch(document.getElementById('sterm').value);">
      <input TYPE="SUBMIT" VALUE="Reload" ONCLICK="document.getElementById('sterm').value = ''; newHome();">
      <input TYPE="SUBMIT" VALUE="Now" ONCLICK="tl.getBand(0).scrollToCenter(new Date());">
    </div>
  </div>
  <div ID="my-timeline" STYLE="height: 80%; border: 1px solid #aaa">
  </div>
  <div style="margin: 10px;">
    <b>Twitlines, a timeline view of Twitter</b></br>
    Product of <a href="http://hyperphor.com">Hyperphor</a><br/>
    Timeline widget by <a href="http://www.simile-widgets.org/">MIT Simile Project</a><br/>
    Data by <a href="http://twitter.com">Twitter</a>, obviously</br>
    Hosted by <a href="http://heroku.com">Heroku</a><br/>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-345282-4");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
