<h1>Blog#list</h1>
<p>Find me in app/views/blog/list.html.erb</p>
<table>
<% for blog in @blogs do %>
<tr>
<td><%= blog.title %></td>
<td>
<% for twit in blog.twitterers do %>
@<%= twit.tname %>, <% if twit.following?(@friends) then %>
"Following" <%= link_to_remote('unfollow', :url => { :action => :unfollow, :id => twit.id }) %>
<% else %>
<%= link_to_remote('follow', :url => { :action => :follow, :id => twit.id }) %>
<% end %>
<br/>
<% end %>
</td>
</tr>
<% end %>
</table>