<h1>Subscribed blogs</h1>
<table>
<tr>
  <th>Blog</th>
  <th>Twits</th>
</tr>
<% for blog in @blogs do %>
<tr>
<td><%= blog.title %></td>
<td>
<% for twit in blog.twitterers do %>
@<%= twit.tname %>, <% if twit.following?(@friends) then %>
<%= render :partial => 'users/following', :locals => {:twit => twit } %>
<% else %>
<%= render :partial => 'users/nfollowing', :locals => {:twit => twit } %>
<% end %>
<br/>
<% end %>
</td>
</tr>
<% end %>
</table>
