<h1>Blog#list</h1>
<p>Find me in app/views/blog/list.html.erb</p>
<table>
<% for blog in @blogs do %>
<tr>
<td><%= blog.title %></td>
<td>
<% for twit in blog.twitterers do %>
@<%= twit.tname %>, <%= twit.following?(@friends) ? "Following" : "Follow" %>
<br/>
<% end %>
</td>
</tr>
<% end %>
</table>